<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2009-2019 digi.me Limited. All rights reserved.
  -->

<manifest xmlns:tools="http://schemas.android.com/tools"
    package="me.digi.examples.ca_no_sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.digi.examples.ca_no_sdk.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="me.digi.examples.ca_no_sdk.app.MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="me.digi.examples.ca_no_sdk.app.PermissionGrantedActivity"
            android:label="@string/permission_granted_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="me.digi.examples.ca_no_sdk.app.MainActivity"/>

        <activity
            android:name="me.digi.examples.ca_no_sdk.app.ViewFileActivity"
            android:label="@string/view_file_label"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
